<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Hello on page!</h1>
<!--  h1-h6  -->
    <p id="first-p">First</p>
    <p>Second</p>
    <p>Third</p>
    <span id="span-id-1" class="span-tag">1</span>
    <span id="span-id-2" class="span-tag">2</span>

    <input type="text" value="login" placeholder="login">
    <br>
    <input type="password" placeholder="password">
</body>

</html>